
#nav-checkbox {
    display: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 64px;
    padding: .5rem 1.5rem;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(5px);
    
}

.hamburger-button {
    position: relative;
    height: 40px;
    min-width: 2.4rem;
    cursor: pointer;
}

.hamburger-line {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--font-color-grey);
    border-radius: 4px;
    transition: 0.2s;
}

.top-line{
   top: 6px;
}

.middle-line{
    top: 20px;
}

.bottom-line {
   top: 34px;
}

#nav-checkbox:checked ~ .hamburger-button > .top-line {
    transform: rotate(45deg);
    top: 20px;
    }

#nav-checkbox:checked ~ .hamburger-button > .middle-line {
    transform: translateX(100%);
    opacity: 0;
    }

#nav-checkbox:checked ~ .hamburger-button > .bottom-line {
    transform: rotate(-45deg);
    top: 20px;
    }


.logo-container a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 {
    color: var(--font-color-green);
    font-size: 1.1rem;
    text-align: center;
}

.logo-container img {
    height: 60%;
    
}

.icons-container {
    display: flex;
    gap: 1rem;
}

.icons-container a  {
    display: flex;
    align-items: center;
}


.icons-container img{
    height: 50%;
}

.nav-list-container {
    position: absolute;
    top: 4rem;
    margin: 0 1.5rem;
    padding: 2rem;
    background-color: var(--background-color-white);
    border: 2px solid red;
    border-radius: 7px;
    width: 80vw;
    height: 80vh;
    visibility: hidden;
    
} 

#nav-checkbox:checked ~ .nav-list-container {
    visibility: visible;
}

.nav-list-container li a{
    color: var(--font-color-grey);
    font-size: 1.3rem;
    line-height: 2.5rem;
}



@media screen and (min-width: 578px) {
    h1 {
        font-size: 1.5rem
    }

    .logo-container img {
        height: 80%;
        
    }

    .nav-list-container {
        width: 25rem;
    }


}

@media screen and (min-width: 992px) {
    /*MEGSZŰNIK A nav-list-container position:relative*/
}