
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 64px;
    padding: .5rem 1.5rem;
    background-color: rgba(255, 255, 255, 50%);
    backdrop-filter: blur(5px);
    
}

#nav-checkbox {
    display: none;
}

.hamburger-button {
    position: relative;
    height: 40px;
    min-width: 2.4rem;
    cursor: pointer;
}

.hamburger-line {
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: var(--font-color-grey);
    border-radius: 4px;
    transition: 0.2s;
}

.top-line{
   top: 10px;
}

.middle-line{
    top: 20px;
}

.bottom-line {
   top: 30px;
}

#nav-checkbox:checked ~ .hamburger-button .top-line {
    transform: rotate(45deg);
    top: 20px;
    }

#nav-checkbox:checked ~ .hamburger-button .middle-line {
    transform: translateX(100%);
    opacity: 0;
    }

#nav-checkbox:checked ~ .hamburger-button .bottom-line {
    transform: rotate(-45deg);
    top: 20px;
    }


.logo-container a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

h1 {
    color: var(--font-color-green);
    font-size: 1.1rem;
    text-align: center;
}

.logo-container img {
    height: 60%;
    
}

.icons-container {
    display: flex;
    gap: 1rem;
}

.icons-container a  {
    display: flex;
    align-items: center;
}


.icons-container img{
    height: 50%;
}

.nav-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 4rem;
    margin: 0 1.5rem;
    padding: 2rem;
    background-color: var(--background-color-white);
    border: 2px solid red;
    border-radius: 7px;
    width: 80vw;
    height: 80vh;
    /* transition: 0.5s ease-out; */
    visibility: hidden;
    
} 

.nav-list-container.active {
    visibility: visible;
}

.nav-item{
    color: var(--font-color-grey);
    font-size: 1.3rem;
}

.nav-item::after {
    content: "";
    width: 0;
    height: .1em;
    display: inline-block;
    background-color: var(grey);
    transition: 300ms;
}  

.nav-item:hover::after {
    width: 100%;
}

.nav-list-container_close-icon {
    display: flex;
    justify-content: end;
}

.nav-list-container_close-icon img {
    height: 1.5rem;
}



@media screen and (max-width: 370px) {
    nav {
        gap: .5rem;
    }
    
    .icons-container {
     gap: .5rem; 
    }
}

@media screen and (min-width: 578px) {
    h1 {
        font-size: 1.5rem
    }

    .logo-container img {
        height: 80%;
        
    }

    .nav-list-container {
        width: 25rem;
    }
}

@media screen and (min-width: 992px) {
    /*MEGSZŰNIK A nav-list-container position:relative*/
}