/***** Carousel2 *****/

.carousel2_title {
    width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
    color: var(--font-color-green);
}

.carousel2 {
    position: relative;
    height: 30vh;
    width: 85%;
    margin: 2rem auto 5rem; 

}

.carousel2_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel2_track {
    position: relative;
    height: 100%;
    transition: .8s ease;
    
}

.carousel2_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* padding: 0 1rem; */
} 

.carosuel2_overlay {
    position: absolute;
    top: 0;
    bottom: 0; 
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    padding: 0 1rem;
    border-radius: 10px;
}


.carousel2_slide h3 {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--font-color-white);
}



.carousel2_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;  
}

.carousel2_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background-color-white);
    border: none;
    cursor: pointer;
    z-index: 7;
    border-radius: 3rem;
    
}

.carousel2_button-left {
    left: 2rem;
}

.carousel2_button-right {
    right: 2rem;
}


.carousel2_button img {
    height: 40%;
}
