.product-categories_carousel {
    width: 85%;
    height: 30vh;
    margin:  5rem auto;
}

.product-categories_h2 {
    height: 20%;
    color: var(--font-color-green);
}

.product-categories_main-container {
    /* display: flex; */
    position: relative;
    height: 80%;
}



.product-categories {
    height: 100%;
    display: flex;
    gap: 1.5rem;
}

.product-category {
    position: relative;
    height: 100%;
}

.product-category h3 {
    position: absolute;
    width: 100%;
    top: 1rem;
    text-align: center;
    color: var(--font-color-white);
}

.product-category img {
    height: 100%;
    border-radius: 10px;

}

.product-category-container {
    position: relative;
    overflow: hidden;
}

.carousel2_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    z-index: 7;
}

.carousel2_button:hover {
    background-color: var(--background-color-white);
}

.carousel2_button-left {
    left: .5rem;
}

.carousel2_button-right {
    right: .5rem;
}

.carousel2_button img {
    width: 1rem;
} 