.search {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 85%;
    height: 3rem;
    margin: 1rem auto;
    display: flex;
}


.search-box {
    padding-left: 1rem;
    width: 85%;
    height: auto;
    border-radius: 10px 0 0 10px;
    border: 1px solid #d1d1d1;
}

.search-box:focus {
    outline: none;
    border: 2px solid var(--background-color-green);
} 

.search-btn {
    color: var(--font-color-white);
    width: 15%;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    background-color: var(--background-color-green);
    font-weight: bold;
    cursor: pointer;
}

